---
import Container from "@components/Container.astro";
import Dropdown from "./Dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Rivalis from "@components/Rivalis.astro";
import SiteLogo from "@components/SiteLogo.astro";

const menuitems = [
  {
    title: "Formules d’accompagnement",
    path: "#",
    children: [
      { title: "Etre plus serein", path: "/formules/rivazen" },
      { title: "Développer son CA", path: "/formules/rivabiz" },
      { title: "Avoir plus de résultat", path: "/formules/rivagest" },
      { title: "Investir et se développer", path: "/formules/rivaboost" },
      { title: "Plus de trésorerie", path: "/formules/rivatreso" },
      { title: "Recruter et manager", path: "/formules/rivarecrut" },
      { title: "Créer son entreprise", path: "/formules/rivacrea" },
      { title: "Gérer son restaurant", path: "/formules/rivaresto" },
      { title: "Gérer sa menuiserie", path: "/formules/rivabois" },
    ],
  },
  {
    title: "Tarifs",
    path: "/mes-tarifs",
  },
  {
    title: "L'entreprise",
    path: "/mon-entreprise",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto justify-between lg:items-baseline">
        <a href="/" class="rounded outline-none focus:ring-2 ring-offset-4 ring-links-500 hover:scale-105 transition">
            <SiteLogo class="h-full" />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-8 h-8 text-links-500 dark:text-links-400" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-links-500 hover:text-links-800 transition"
                    >
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
    <div class="hidden lg:flex flex-col items-center gap-1">
      <span class="font-light text-xs text-canvas-400">réseau</span>
      <a href="https://rivalis.fr" target="_blank" rel="noopener noreferrer nofollow" class="rounded outline-none focus:ring-2 ring-offset-4 ring-links-500">
        <Rivalis class="h-8" />
      </a>
    </div>
  </header>
</Container>
