---
import siteInfo from "@data/site-info";
---

<footer class="mt-20 py-20 bg-canvas-700">
  <p class="text-center text-sm text-canvas-50">
    Copyright © {new Date().getFullYear()} {siteInfo.name}. All rights reserved.
  </p>
  <p class="text-center text-xs text-canvas-500 mt-1">
    Réalisé par <a
      href="https://thewebforge.dev"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      The Web Forge
    </a> avec <a
      href="https://astro.build"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Astro
    </a> et <a
    href="https://tailwindcss.com"
    target="_blank"
    rel="noopener"
    class="hover:underline">
    Tailwind CSS
  </a>

  </p>
</footer>
