---
import Container from "./Container.astro";
import Section from "@components/Section.astro";
import Accompagnement from "@icons/illustrations/Accompagnement";
import MainCallToAction from "./MainCallToAction.astro";
---

<Section class="pt-16 pb-8 md:pt-12 md:pb-24" aria-labelledby="hero-headline">
  <Container class="grid lg:grid-cols-2 place-items-center">
    <picture class="w-full md:order-1 hidden md:block">
      <Accompagnement class="w-full" />
    </picture>
    <div>
      <hgroup>
        <p class="text-lg uppercase text-canvas-600 max-w-xl">
          Entrepreneurs de provence
        </p>
        <h1
          id="hero-headline"
          class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
        >
          Levez-vous tous les matins avec le sourire !
        </h1>
      </hgroup>
      <p class="text-lg mt-4 text-canvas-600 max-w-xl">
        Je vous accompagne pour faire décoller votre TPE et vous faire atteindre
        vos objectifs personnels ! Rencontrons-nous, je suis à moins d’une heure
        de chez vous.
      </p>
      <MainCallToAction />
    </div>
  </Container>
</Section>
