---
import { Icon } from "astro-icon";
const title = "Mes partenaires"
---

<div class="mt-24">
  <h2 class="text-center text-canvas-500">{title}</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
      <Icon class="text-canvas-700 h-8 md:h-12" name="logos/rivalis" />
      <Icon class="text-canvas-700 h-8 md:h-12" name="logos/henrri" />
    <Icon class="text-canvas-700 h-8 md:h-14" name="logos/penet" />
    <Icon class="text-canvas-700 h-8 md:h-16" name="logos/mof" />
    <Icon class="text-canvas-700 h-8 md:h-12" name="logos/rivalis-restaurant" />
  </div>
</div>
