---
import Section from "./Section.astro";
import Container from "./Container.astro";
import { Icon } from "astro-icon";
const title = "Mes partenaires";
---

<Section aria-labelledby="partenaires-headline" >
  <Container>
    <h2 id="partenaires-headline" class="text-center text-xl text-canvas-500">{title}</h2>
    <div
      class="flex gap-8 md:gap-20 items-center justify-center xl:justify-between mt-10 flex-wrap"
    >
      <Icon class="text-canvas-700 w-[50vw] md:w-auto md:h-12" name="logos/rivalis" />
      <Icon class="text-canvas-700 w-[50vw] md:w-auto md:h-12" name="logos/henrri" />
      <Icon class="text-canvas-700 w-[50vw] md:w-auto md:h-14" name="logos/penet" />
      <Icon class="text-canvas-700 w-[50vw] md:w-auto md:h-16" name="logos/mof" />
      <Icon
        class="text-canvas-700  w-[50vw] md:w-auto md:h-16"
        name="logos/rivalis-restaurant"
      />
    </div>
  </Container>
</Section>
